<!-- Section #1 -->
<section id="joynme-scroll" data-speed="10" data-type="background">
  <div id="joynme" class="job-div">
	<div id="joynme-logo" class="img-div">
		

	</div>
	<div class="job-sub-div">
		<a href="http://www.joynme.com">JoynMe</a>
	</div>
	<div class="role-div">
		Web Development
	</div>
	<div class="bullet-div">
		•	Developed the JoynMe website using Wordpress, HTML5, CSS3, JavaScript, PHP, and jQuery<br>
		•	Crafted HTML templates for marketing and transactional emails<br>
		•	Created mobile landing page for users who were invited to use the JoynMe application<br>
		•	Collaborated with other developers using WebStorm, PHPStorm, Git, and GitHub<br>

	</div>
  </div>
</section>
<!-- Section #2 -->
<section id="mindsnacks-scroll" data-speed="20" data-type="background">
  <div class="job-div" id="mindsnacks">
	<div id="mindsnacks-logo" class="img-div">
	</div>
	<div class="job-sub-div">
		<a href="http://www.mindsnacks.com">MindSnacks</a>
	</div>
	<div class="role-div">
		Quality Assurance
	</div>
	<div class="bullet-div">
	•	Collaborated with the engineering, support, product, and design teams in all phases of the design process to ensure product quality <br>
	•	Led all aspects of application and game testing for 13 language-learning applications and SAT Vocabulary <br>
	•	Created and maintained test plans and test cases for all iOS applications <br>
	•	Introduced and administered Jira for bug tracking <br>
	•	Escalated reproducible application issues to our engineering team and verified fixes <br>
	•	Led the MindSnacks Deputies Program and play-testing sessions to gain product feedback from users <br>
	•	Investigated and answered escalated support and feedback emails from the support team <br>

	</div>
  </div>
</section>
<!-- Section #3 -->
<section id="ngmoco-scroll" data-speed="30" data-type="background">
  <div id="ngmoco" class="job-div">
	<div id="ngmoco-logo" class="img-div">
		

	</div>
	<div class="job-sub-div">
		<a href="http://www.ngmoco.com">ngmoco:)</a>
	</div>
	<div class="role-div">
		Player Relationships
	</div>
	<div class="bullet-div">
		• Provided	support	for iOS	and	Android	applications <br>
        • Answered escalated support tickets using Zendesk and Salesforce CRM <br>
		• Escalated reproducible game issues to	our	game teams using Jira <br>
		• Created tutorials and	other onboarding content for new employees using Google	Sites <br>
		• Managed Player Accounts using	Mobage admin panels	<br>
		• Designed customer	support	articles for the Mobage	and	ngmoco:) support websites <br>
		• Provided	onboarding	content	and	training fornew	Player Relationships Agents <br>
		• Created Refund and Support Policies for the Player Relationships	team <br>
		• Processed	orders using Google	Checkout and internal Mobage banking system <br>
	</div>
  </div>
</section>