<!-- Section #1 -->
<section id="joynme-scroll" data-speed="10" data-type="background">
  <div id="joynme" class="job-div">
	<div id="joynme-logo" class="img-div">
		

	</div>
	<div class="job-sub-div">
		<a href="http://www.joynme.com">JoynMe</a>
	</div>
	<div class="role-div">
		Web Development
	</div>
  </div>
</section>
<!-- Section #2 -->
<section id="mindsnacks-scroll" data-speed="20" data-type="background">
  <div class="job-div" id="mindsnacks">
	<div id="mindsnacks-logo" class="img-div">
	</div>
	<div class="job-sub-div">
		<a href="http://www.mindsnacks.com">MindSnacks</a>
	</div>
	<div class="role-div">
		Quality Assurance
	</div>
  </div>
</section>
<!-- Section #3 -->
<section id="ngmoco-scroll" data-speed="30" data-type="background">
  <div id="ngmoco" class="job-div">
	<div id="ngmoco-logo" class="img-div">
		

	</div>
	<div class="job-sub-div">
		<a href="http://www.ngmoco.com">ngmoco:)</a>
	</div>
	<div class="role-div">
		Player Relationships
	</div>
  </div>
</section>