// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coming-soon{
	color:pink;
	text-align:center;
}

.job-div{
	height:400px;
	background:#1b1b1b;
	text-align:left;
	position:absolute;
	margin-top:900px;
	width:100%;
}

.job-sub-div{
	font-family:Open Sans Condensed;
	font-size:80px;
	color:#E67BAD;
	text-shadow: 3px 3px #761A3B;
	margin-top:50px;
	margin-left:100px;



}

.img-div{

	width:300px;
	height:100px;
	float:right;
	margin-top:100px;
	margin-right:100px;

}

.role-div{
	font-family:Open Sans Condensed;
	font-size:30px;
	color:lightgrey;
	text-align:left;
	margin-top:50px;
	margin-left:100px;

}
.bullet-div{
	font-family:Open Sans Condensed;
	font-size:20px;
	color:grey;
	text-align:left;
	line-height:30px;
	margin-top:20px;
	margin-left:100px;
}

a {
	font-family:Open Sans Condensed;
	font-size:60px;
	color:#E67BAD;

}

a:hover{
	color:#761A3B;
	text-shadow: 3px 3px #E67BAD;
	text-decoration:none;
}


